<!DOCTYPE html>
<html>
<head>
    <title>New Year's Resolutions Task List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>My New Year's Resolutions</h1>
    <h2>Add New Task</h2>
<form method="POST" action="{{ url_for('add_task') }}">
    <div>
        <label for="new_task">Task:</label>
        <input type="text" id="new_task" name="new_task" required>
    </div>
    <button type="submit">Add Task</button>
</form>

    <ul>
        {% for task in tasks %}
        <li>
            <input type="checkbox" id="task{{ task.id }}" {{ 'checked' if task.completed else '' }}>
            <label for="task{{ task.id }}">{{ task.task }}</label>
            <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
          75%
        </div>
      </div>
      
</body>

</html>
